/* Common */
.mara{margin:auto}
.marl10{margin-left:10px;}
.marl20{margin-left:20px;}
.marl30{margin-left:30px;}
.marl40{margin-left:40px;}
.marl50{margin-left:50px;}
.marl60{margin-left:60px;}
.marl70{margin-left:70px;}
.marl80{margin-left:80px;}
.marl90{margin-left:90px;}
.marl100{margin-left:100px;}
.marl150{margin-left:150px;}
.marl200{margin-left:200px;}
.marl250{margin-left:250px;}
.marl300{margin-left:300px;}
.marl350{margin-left:350px;}
.marl400{margin-left:400px;}
.marl450{margin-left:450px;}
.marl500{margin-left:500px;}
.marl550{margin-left:550px;}
.marl600{margin-left:600px;}
.marl650{margin-left:650px;}
.marl700{margin-left:700px;}
.marl750{margin-left:750px;}
.marl800{margin-left:800px;}
.marr10{margin-right:10px;}
.marr20{margin-right:20px;}
.marr30{margin-right:30px;}
.marr40{margin-right:40px;}
.marr50{margin-right:50px;}
.marr60{margin-right:60px;}
.marr70{margin-right:70px;}
.marr80{margin-right:80px;}
.marr90{margin-right:90px;}
.marr100{margin-right:100px;}
.marr150{margin-right:150px;}
.marr200{margin-right:200px;}
.marr250{margin-right:250px;}
.marr300{margin-right:300px;}
.marr350{margin-right:350px;}
.marr400{margin-right:400px;}
.marr420{margin-right:420px;}
.marr450{margin-right:450px;}
.marr500{margin-right:500px;}
.marr550{margin-right:550px;}
.marr600{margin-right:600px;}
.marr650{margin-right:650px;}
.marr700{margin-right:700px;}
.marr750{margin-right:750px;}
.marr800{margin-right:800px;}
.mart10{margin-top:10px;}
.mart20{margin-top:20px;}
.mart30{margin-top:30px;}
.mart40{margin-top:40px;}
.mart50{margin-top:50px;}
.mart60{margin-top:60px;}
.mart70{margin-top:70px;}
.mart80{margin-top:80px;}
.mart90{margin-top:90px;}
.mart100{margin-top:100px;}
.mart150{margin-top:150px;}
.mart200{margin-top:200px;}
.mart250{margin-top:250px;}
.mart300{margin-top:300px;}
.mart350{margin-top:350px;}
.mart400{margin-top:400px;}
.mart450{margin-top:450px;}
.mart500{margin-top:500px;}
.mart550{margin-top:550px;}
.mart600{margin-top:600px;}
.mart650{margin-top:650px;}
.mart700{margin-top:700px;}
.mart750{margin-top:750px;}
.mart800{margin-top:800px;}
.marb0{margin-bottom:0px;}
.marb10{margin-bottom:10px;}
.marb20{margin-bottom:20px;}
.marb30{margin-bottom:30px;}
.marb40{margin-bottom:40px;}
.marb50{margin-bottom:50px;}
.marb60{margin-bottom:60px;}
.marb70{margin-bottom:70px;}
.marb80{margin-bottom:80px;}
.marb90{margin-bottom:90px;}
.marb100{margin-bottom:100px;}
.marb150{margin-bottom:150px;}
.marb200{margin-bottom:200px;}
.marb250{margin-bottom:250px;}
.marb300{margin-bottom:300px;}
.marb350{margin-bottom:350px;}
.marb400{margin-bottom:400px;}
.marb450{margin-bottom:450px;}
.marb500{margin-bottom:500px;}
.marb550{margin-bottom:550px;}
.marb600{margin-bottom:600px;}
.marb650{margin-bottom:650px;}
.marb700{margin-bottom:700px;}
.marb750{margin-bottom:750px;}
.marb800{margin-bottom:800px;}
.padl10{padding-left:10px;}
.padl20{padding-left:20px;}
.padl30{padding-left:30px;}
.padl40{padding-left:40px;}
.padl50{padding-left:50px;}
.padl60{padding-left:60px;}
.padl70{padding-left:70px;}
.padl80{padding-left:80px;}
.padl90{padding-left:90px;}
.padl100{padding-left:100px;}
.padl150{padding-left:150px;}
.padl200{padding-left:200px;}
.padl250{padding-left:250px;}
.padl300{padding-left:300px;}
.padl350{padding-left:350px;}
.padl400{padding-left:400px;}
.padl450{padding-left:450px;}
.padl500{padding-left:500px;}
.padl550{padding-left:550px;}
.padl600{padding-left:600px;}
.padl650{padding-left:650px;}
.padl700{padding-left:700px;}
.padl750{padding-left:750px;}
.padl800{padding-left:800px;}
.padr10{padding-right:10px;}
.padr20{padding-right:20px;}
.padr30{padding-right:30px;}
.padr40{padding-right:40px;}
.padr50{padding-right:50px;}
.padr60{padding-right:60px;}
.padr70{padding-right:70px;}
.padr80{padding-right:80px;}
.padr90{padding-right:90px;}
.padr100{padding-right:100px;}
.padr150{padding-right:150px;}
.padr200{padding-right:200px;}
.padr250{padding-right:250px;}
.padr300{padding-right:300px;}
.padr350{padding-right:350px;}
.padr400{padding-right:400px;}
.padr450{padding-right:450px;}
.padr500{padding-right:500px;}
.padr550{padding-right:550px;}
.padr600{padding-right:600px;}
.padr650{padding-right:650px;}
.padr700{padding-right:700px;}
.padr750{padding-right:750px;}
.padr800{padding-right:800px;}
.padt10{padding-top:10px;}
.padt20{padding-top:20px;}
.padt30{padding-top:30px;}
.padt40{padding-top:40px;}
.padt50{padding-top:50px;}
.padt60{padding-top:60px;}
.padt70{padding-top:70px;}
.padt80{padding-top:80px;}
.padt90{padding-top:90px;}
.padt100{padding-top:100px;}
.padt150{padding-top:150px;}
.padt200{padding-top:200px;}
.padt250{padding-top:250px;}
.padt300{padding-top:300px;}
.padt350{padding-top:350px;}
.padt400{padding-top:400px;}
.padt450{padding-top:450px;}
.padt500{padding-top:500px;}
.padt550{padding-top:550px;}
.padt600{padding-top:600px;}
.padt650{padding-top:650px;}
.padt700{padding-top:700px;}
.padt750{padding-top:750px;}
.padt800{padding-top:800px;}
.padb10{padding-bottom:10px;}
.padb20{padding-bottom:20px;}
.padb30{padding-bottom:30px;}
.padb40{padding-bottom:40px;}
.padb50{padding-bottom:50px;}
.padb60{padding-bottom:60px;}
.padb70{padding-bottom:70px;}
.padb80{padding-bottom:80px;}
.padb90{padding-bottom:90px;}
.padb100{padding-bottom:100px;}
.padb150{padding-bottom:150px;}
.padb200{padding-bottom:200px;}
.padb250{padding-bottom:250px;}
.padb300{padding-bottom:300px;}
.padb350{padding-bottom:350px;}
.padb400{padding-bottom:400px;}
.padb450{padding-bottom:450px;}
.padb500{padding-bottom:500px;}
.padb550{padding-bottom:550px;}
.padb600{padding-bottom:600px;}
.padb650{padding-bottom:650px;}
.padb700{padding-bottom:700px;}
.padb750{padding-bottom:750px;}
.padb800{padding-bottom:800px;}
.h10{height:10px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h80{height:80px;}
.h90{height:90px;}
.h100{height:100px;}
.h150{height:150px;}
.h200{height:200px;}
.h250{height:250px;}
.h300{height:300px;}
.h350{height:350px;}
.h400{height:400px;}
.h450{height:450px;}
.h500{height:500px;}
.h550{height:550px;}
.h600{height:600px;}
.h650{height:650px;}
.h700{height:700px;}
.h750{height:750px;}
.h800{height:800px;}
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w250{width:250px;}
.w275{width:279px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w430{width:430px;}
.w450{width:450px;}
.w500{width:500px;}
.w550{width:550px;}
.w600{width:600px;}
.w650{width:650px;}
.w700{width:700px;}
.w750{width:750px;}
.w800{width:800px;}
.w5p{width:5%;}
.w10p{width:10%;}
.w15p{width:15%;}
.w20p{width:20%;}
.w25p{width:25%;}
.w30p{width:30%;}
.w35p{width:35%;}
.w40p{width:40%;}
.w45p{width:45%;}
.w50p{width:50%;}
.w55p{width:55%;}
.w60p{width:60%;}
.w65p{width:65%;}
.w70p{width:70%;}
.w75p{width:75%;}
.w80p{width:80%;}
.w85p{width:85%;}
.w90p{width:90%;}
.w95p{width:95%;}
.w100p{width:100%;}
.mar0{ margin:0 !important}
.wauto{width:auto !important}
.floatl{float:left}
.floatr{float:right}
.posa{position:absolute}